
.layer-content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check-box-container{
    cursor: pointer;
}

.layer-name-container{
    flex: auto;
}

.layer-title{
    flex:1;
    display:flex;
    justify-content:center;
    font-weight:400;
    font-size:20px;
}

.centerize-contents{
    margin:0 auto 0 auto;
    &.display-row-contents{
        display:flex;
        align-items:center;
    }
    &.padding-contents{
        padding-top:20px;
        padding-bottom:20px;
    }
}

.dropdown-toggle{
    background-color:green;
    width:180px;
    color:white
}

.attribute-container:nth-child(even){
    background-color: rgb(237, 231, 231);
    padding:10px;
}

.attribute-container:nth-child(odd){
    background-color:rgb(218, 215, 215);
    padding:10px;
}

.attribute-key{
    font-size:14px;
    font-weight: 600;
}
.attribute-value{
    font-size:14px;
    font-weight: 300;
}


